/* Navigation.module.css */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #454647;
    /* змініть колір фону на потрібний */
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #848485;
    /* змініть колір фону при наведенні */
}